<div class="header bg-gradient-danger py-5 py-lg-6">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bienvenido</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-2">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <form role="form">
            <div class="form-group mb-3" [ngClass]="{'has-danger': isEmailEmpty}">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                </div>
                <input class="form-control" [ngClass]="{'is-invalid': isEmailEmpty}" placeholder="Email" type="email" [(ngModel)]="emai">
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary my-4" (click)="login()">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
